.entry-content {
	width: 100%;
	height: auto;
	min-height: 100px;
}
.map-container {
    width:100%;
    height:100%;
}
/**
* Form
*/
.inputRequest {
	text-align: center;
	padding-top: 11px;
}

.msg_error,
.msg_success {
	padding-top: 8px;
	text-align: center;
	width: 100%;
	height: 50px;
	color: #FFF;
	display: none;

}
.msg_address {
	margin-top: 11px;
	margin-bottom: 11px;
	color: #0123aa;
	font-weight: bold;
}

.msg_error {
	background-color: #cd2653;
}
.msg_success {
	background-color: #fe0000;
}

/**
* list Request
*/
.table-request {
}
.table-request .table-request-label {
	text-align: center;
	font-weight: bold;
	color: #FFF;
	background-color: #fe0000;
}
.table-request .table-request-content {
	text-align: center;
}


/**
* list Products
*/
.container-products,
.container-products .col-singleproduct,
.container-products .col-singleproduct .prd-image,
.container-products .col-singleproduct .prd-name {
	display: inline-block;
	position: relative;
	float: left;
	box-sizing: border-box;
	width: 100%;
}
.container-products {
	padding: 40px 50px;
}
.container-products .col-singleproduct {
	width: 40%;
	border: 2px solid #FE0000;
	border-radius: 5px;
	margin-right: 31px;
}
.container-products .col-singleproduct .prd-image {
	height: 150px;
}
.container-products .col-singleproduct .prd-image img {
	width: 100%;
	height: 150px;
	border-radius: 4px 4px 0 0;
}
.container-products .col-singleproduct .prd-name {
	text-align: center;
	padding: 5px 11px;
	font-size: 1em;
}



/**
* Admin
*/
.table-header {
	background-color: #727272;
	color: #FFF !important;
	text-align: left;
}
.table-header b {
	color: #FFF;
}